<!--
  Generated template for the ResearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH.TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>
  <ion-list *ngIf="vocabulary">
    <ion-item>
      <ion-label stacked>{{ 'SEARCH.TRIP-NAME' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="trip_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'SEARCH.REGION' | translate }}</ion-label>
      <ion-select [(ngModel)]="region" multiple="true" cancelText="{{ 'SEARCH.CANCEL' | translate }}" okText="{{ 'SEARCH.OK' | translate }}">
        <ion-option value="{{str}}" *ngFor="let str of vocabulary.regions">{{str}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'SEARCH.STARTING-FROM' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="starting_from"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col col-12>
        <ion-label stacked>{{ 'SEARCH.DATE' | translate }}</ion-label>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>{{ 'SEARCH.FROM' | translate }}</ion-label>
          <ion-datetime displayFormat="D MMM YYYY" [(ngModel)]="fromDate" (ionCancel)="cleanField($event)"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>{{ 'SEARCH.TO' | translate }}</ion-label>
          <ion-datetime displayFormat="D MMM YYYY" [(ngModel)]="toDate" (ionCancel)="cleanField($event)"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-list-header no-border>
      <ion-label stacked>{{ 'SEARCH.STARTING-FROM-ALTITUDE' | translate }}</ion-label>

      <ion-badge item-end class="badge-class">{{starting_from_altitude.lower}}</ion-badge>
      <ion-badge item-end class="badge-class">-</ion-badge>
      <ion-badge item-end class="badge-class">{{starting_from_altitude.upper}}</ion-badge>

    </ion-list-header>
    <ion-item>
      <ion-range min="{{vocabulary.height.min}}" max="{{vocabulary.height.max}}" step="100" snaps="false" dualKnobs="true" pin="true" [(ngModel)]="starting_from_altitude"
        color="">
      </ion-range>
    </ion-item>

    <ion-list-header>
      <ion-label stacked>{{ 'SEARCH.END-ALTITUDE' | translate }}</ion-label>
      <ion-badge item-end class="badge-class">{{end_altitude.lower}}</ion-badge>
      <ion-badge item-end class="badge-class">-</ion-badge>
      <ion-badge item-end class="badge-class">{{end_altitude.upper}}</ion-badge>
    </ion-list-header>
    <ion-item>
      <ion-range min="{{vocabulary.height.min}}" max="{{vocabulary.height.max}}" step="100" snaps="false" dualKnobs="true" pin="true" [(ngModel)]="end_altitude"
        color="">
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'SEARCH.GRADE' | translate }}</ion-label>
      <ion-select [(ngModel)]="difficulty" multiple="true" cancelText="{{ 'SEARCH.CANCEL' | translate }}" okText="{{ 'SEARCH.OK' | translate }}">
        <ion-option value="{{str}}" *ngFor="let str of vocabulary.grades">{{str}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-row>
      <ion-col col-12>
        <ion-label stacked>{{ 'SEARCH.SIDE' | translate }}</ion-label>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>{{ 'SEARCH.UPHILL' | translate }}</ion-label>
          <ion-select [(ngModel)]="uphill_side" multiple="true" cancelText="{{ 'SEARCH.CANCEL' | translate }}" okText="{{ 'SEARCH.OK' | translate }}">
            <ion-option value="{{str}}" *ngFor="let str of vocabulary.sides">{{str}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>{{ 'SEARCH.DOWNHILL' | translate }}</ion-label>
          <ion-select [(ngModel)]="downhill_side" multiple="true" cancelText="{{ 'SEARCH.CANCEL' | translate }}" okText="{{ 'SEARCH.OK' | translate }}">
            <ion-option value="{{str}}" *ngFor="let str of vocabulary.sides">{{str}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label stacked>{{ 'SEARCH.SNOW-RATE' | translate }}</ion-label>
      <ion-select [(ngModel)]="snow_rate" multiple="true" cancelText="{{ 'SEARCH.CANCEL' | translate }}" okText="{{ 'SEARCH.OK' | translate }}">
        <ion-option value="{{str}}" *ngFor="let str of vocabulary.snow_rates">{{str}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'SEARCH.TRIP-RATE' | translate }}</ion-label>
      <ion-select [(ngModel)]="trip_rate" multiple="true" cancelText="{{ 'SEARCH.CANCEL' | translate }}" okText="{{ 'SEARCH.OK' | translate }}">
        <ion-option value="{{str}}" *ngFor="let str of vocabulary.trip_rates">{{str}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'SEARCH.TARGET' | translate }}</ion-label>
      <ion-select [(ngModel)]="target" multiple="true" cancelText="{{ 'SEARCH.CANCEL' | translate }}" okText="{{ 'SEARCH.OK' | translate }}">
        <ion-option value="{{str}}" *ngFor="let str of vocabulary.targets">{{str}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'SEARCH.USER' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="user"></ion-input>
    </ion-item>



  </ion-list>

  <ion-card *ngFor="let report of reportList" (click)="itemSelected(report)">

    <ion-slides>
      <!--[options]="mySlideOptions"> -->
      <ion-slide *ngFor="let url of report.Images">
        <img [src]="url">
      </ion-slide>
    </ion-slides>

    <!--<img src="http://lorempixel.com/400/200/nature/" />-->
    <ion-card-content>

      <ion-row>
        <ion-card-title>
          <h2>{{ report.TripName }}</h2>
        </ion-card-title>
      </ion-row>

      <ion-row>
        <ion-col no-padding text-left>{{report.Region}}</ion-col>
        <ion-col no-padding text-center>{{report.ElevationGain}} m.</ion-col>
        <ion-col no-padding text-center>{{report.DownhillSide}}</ion-col>
        <ion-col no-padding text-right>{{report.ReadableDate}}</ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="hideToolbar">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer no-shadow no-border>
  <ion-toolbar position="bottom">
    <ion-row>
      <ion-col col-6>
        <button ion-button full (click)="cleanAllFields()">{{ 'SEARCH.CLEAN' | translate }}</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full (click)="submit()">{{ 'SEARCH.SUBMIT' | translate }}</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>