page-topos-slides {
    .content-md {
        background: #000;
    }

    .swiper-pagination-bullet {
        background: #fff;
        opacity: 0.4
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
    }
    
    
}