<ion-header>
  <ion-navbar>
    <ion-title>
      Report List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="reportList">

<!--
    <ion-item  text-wrap *ngFor="let key of JSObject.keys(displayReport)">
      <p>{{key}}</p>
      <h2>{{displayReport[key]}}</h2>    
    </ion-item >  
-->

    <button ion-item text-wrap *ngFor="let report of reportList" (click)="itemSelected(report)">
    <h2>{{ report.TripName }}</h2>
    <p>{{report.ReadableDate}}</p>
    </button>  
  </ion-list>
</ion-content>