<ion-header>
  <ion-navbar>
      <ion-title>{{ 'HOME.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

    <ion-card *ngFor="let report of reportList" (click)="itemSelected(report)">

      <ion-slides> <!--[options]="mySlideOptions"> -->
        <ion-slide *ngFor="let url of report.Images">
          <img [src]="url">
        </ion-slide>
      </ion-slides>

      <!--<img src="http://lorempixel.com/400/200/nature/" />-->
      <ion-card-content>

        <ion-row>
          <ion-card-title>
            <h2>{{ report.TripName }}</h2>
          </ion-card-title>
        </ion-row>
        
        <ion-row>
          <ion-col no-padding text-left>{{report.Region}}</ion-col>
          <ion-col no-padding text-center>{{report.ElevationGain}} m.</ion-col>
          <ion-col no-padding text-center>{{report.DownhillSide}}</ion-col>
          <ion-col no-padding text-right>{{report.ReadableDate}}</ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>