<page-loader *ngIf="show_page_loader"></page-loader>
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'ADD.TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>



  <ion-content>
    <ion-list *ngIf="vocabulary">

      <form novalidate id="newReportFormId" (ngSubmit)="submit()" [formGroup]="newReportForm">
      <ion-item>
        <ion-label stacked>{{ 'FORM.TRIP-NAME' | translate }}</ion-label>
        <ion-input type="text" formControlName="TripName"></ion-input>
      </ion-item>

      <validation-error
        *ngIf="displayValidationErrorsByName('TripName')"
        [errors]="newReportForm.get('TripName').errors"></validation-error>

      <ion-item>
        <ion-label stacked>{{ 'FORM.REGION' | translate }}</ion-label>
        <ion-select 
          formControlName="Region" cancelText="{{ 'FORM.CANCEL' | translate }}"
          okText="{{ 'FORM.OK' | translate }}"
          >
          <ion-option value="{{str}}" *ngFor="let str of vocabulary.regions">{{str}}</ion-option>
        </ion-select>
      </ion-item>
      <validation-error
        *ngIf="displayValidationErrorsByName('Region')"
        [errors]="newReportForm.get('Region').errors"></validation-error>

      <ion-item>
        <ion-label stacked>{{ 'FORM.STARTING-FROM' | translate }}</ion-label>
        <ion-input type="text" formControlName="StartingFrom"></ion-input>
      </ion-item>
      <validation-error
        *ngIf="displayValidationErrorsByName('StartingFrom')"
        [errors]="newReportForm.get('StartingFrom').errors"></validation-error>

      <ion-item>
        <ion-label stacked>{{ 'FORM.STARTING-VALLEY' | translate }}</ion-label>
        <ion-input type="text" formControlName="StartingValley"></ion-input>
      </ion-item>
      <validation-error
        *ngIf="displayValidationErrorsByName('StartingValley')"
        [errors]="newReportForm.get('StartingValley').errors"></validation-error>

      <ion-item>
        <ion-label stacked>{{ 'FORM.DATE' | translate }}</ion-label>
        <ion-datetime displayFormat="D MMM YYYY" formControlName="Date" (ionCancel)="cleanField($event)"></ion-datetime>
      </ion-item>
      <validation-error
        *ngIf="displayValidationErrorsByName('Date')"
        [errors]="newReportForm.get('Date').errors"></validation-error>

      <ion-list-header>
        <ion-label stacked>{{ 'FORM.ELEVATION-GAIN' | translate }}</ion-label>
        <ion-badge item-end class="badge-class">{{ElevationGain}}</ion-badge>
      </ion-list-header>
      <ion-item>
        <ion-range min="{{vocabulary.height.min}}" max="{{vocabulary.height.max}}" step="100" snaps="false" pin="true"
          formControlName="ElevationGain" color="">
        </ion-range>
      </ion-item>
      <validation-error
        *ngIf="displayValidationErrorsByName('ElevationGain')"
        [errors]="newReportForm.get('ElevationGain').errors"></validation-error>

      <ion-list-header>
        <ion-label stacked>{{ 'FORM.STARTING-FROM-ALTITUDE' | translate }}</ion-label>
        <ion-badge item-end class="badge-class">{{StartingAltitude}}</ion-badge>
      </ion-list-header>
      <ion-item>
        <ion-range min="{{vocabulary.height.min}}" max="{{vocabulary.height.max}}" step="100" snaps="false" pin="true"
          formControlName="StartingAltitude" color="">
        </ion-range>
      </ion-item>
      <validation-error
        *ngIf="displayValidationErrorsByName('StartingAltitude')"
        [errors]="newReportForm.get('StartingAltitude').errors"></validation-error>

      <ion-list-header>
        <ion-label stacked>{{ 'FORM.END-ALTITUDE' | translate }}</ion-label>
        <ion-badge item-end class="badge-class">{{EndAltitude}}</ion-badge>
      </ion-list-header>
      <ion-item>
        <ion-range min="{{vocabulary.height.min}}" max="{{vocabulary.height.max}}" step="100" snaps="false" pin="true"
          formControlName="EndAltitude" color="">
        </ion-range>
      </ion-item>
      <validation-error
        *ngIf="displayValidationErrorsByName('EndAltitude')"
        [errors]="newReportForm.get('EndAltitude').errors"></validation-error>

      <ion-item>
        <ion-label stacked>{{ 'FORM.GRADE' | translate }}</ion-label>
        <ion-select formControlName="Grade" cancelText="{{ 'FORM.CANCEL' | translate }}"
          okText="{{ 'FORM.OK' | translate }}">
          <ion-option value="{{str}}" *ngFor="let str of vocabulary.grades">{{str}}</ion-option>
        </ion-select>
      </ion-item>
      <validation-error
        *ngIf="displayValidationErrorsByName('Grade')"
        [errors]="newReportForm.get('Grade').errors"></validation-error>

      <ion-row>
        <ion-col col-12>
          <ion-label stacked>{{ 'FORM.SIDE' | translate }}</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>{{ 'FORM.UPHILL' | translate }}</ion-label>
            <ion-select formControlName="UphillSide" cancelText="{{ 'FORM.CANCEL' | translate }}"
              okText="{{ 'FORM.OK' | translate }}">
              <ion-option value="{{str}}" *ngFor="let str of vocabulary.sides">{{str}}</ion-option>
            </ion-select>
          </ion-item>
          <validation-error
          *ngIf="displayValidationErrorsByName('UphillSide')"
          [errors]="newReportForm.get('UphillSide').errors"></validation-error>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>{{ 'FORM.DOWNHILL' | translate }}</ion-label>
            <ion-select formControlName="DownhillSide" cancelText="{{ 'FORM.CANCEL' | translate }}"
              okText="{{ 'FORM.OK' | translate }}">
              <ion-option value="{{str}}" *ngFor="let str of vocabulary.sides">{{str}}</ion-option>
            </ion-select>
          </ion-item>
          <validation-error
          *ngIf="displayValidationErrorsByName('DownhillSide')"
          [errors]="newReportForm.get('DownhillSide').errors"></validation-error>
        </ion-col>
      </ion-row>
        
      <ion-item>
        <ion-label stacked>{{ 'FORM.MAIN-SNOW-TYPE' | translate }}</ion-label>
        <ion-select formControlName="MainSnowType" cancelText="{{ 'FORM.CANCEL' | translate }}"
          okText="{{ 'FORM.OK' | translate }}">
          <ion-option value="{{str}}" *ngFor="let str of vocabulary.snow_types">{{str}}</ion-option>
        </ion-select>
      </ion-item>
      <validation-error
        *ngIf="displayValidationErrorsByName('MainSnowType')"
        [errors]="newReportForm.get('MainSnowType').errors"></validation-error>
        
      <ion-item>
        <ion-label stacked>{{ 'FORM.OTHER-SNOW-TYPE' | translate }}</ion-label>
        <ion-select formControlName="OtherSnowType" cancelText="{{ 'FORM.CANCEL' | translate }}"
          okText="{{ 'FORM.OK' | translate }}">
          <ion-option value="{{str}}" *ngFor="let str of vocabulary.snow_types">{{str}}</ion-option>
        </ion-select>
      </ion-item>
      <validation-error
        *ngIf="displayValidationErrorsByName('OtherSnowType')"
        [errors]="newReportForm.get('OtherSnowType').errors"></validation-error>
        
      <ion-item>
        <ion-label stacked>{{ 'FORM.SNOW-RATE' | translate }}</ion-label>
        <ion-select formControlName="SnowRate" cancelText="{{ 'FORM.CANCEL' | translate }}"
          okText="{{ 'FORM.OK' | translate }}">
          <ion-option value="{{str}}" *ngFor="let str of vocabulary.snow_rates">{{str}}</ion-option>
        </ion-select>
      </ion-item>
      <validation-error
        *ngIf="displayValidationErrorsByName('SnowRate')"
        [errors]="newReportForm.get('SnowRate').errors"></validation-error>
        
      <ion-item>
        <ion-label stacked>{{ 'FORM.SNOW-DESCRIPTION' | translate }}</ion-label>
        <ion-textarea formControlName="SnowDescription" autosize></ion-textarea>
      </ion-item>
      <validation-error
        *ngIf="displayValidationErrorsByName('SnowDescription')"
        [errors]="newReportForm.get('SnowDescription').errors"></validation-error>
        
      <ion-item>
        <ion-label stacked>{{ 'FORM.AVALANCHE-RISK' | translate }}</ion-label>
        <ion-select formControlName="AvalancheRisk" cancelText="{{ 'FORM.CANCEL' | translate }}"
          okText="{{ 'FORM.OK' | translate }}">
          <ion-option value="{{str}}" *ngFor="let str of vocabulary.avalanche_risk">{{str}}</ion-option>
        </ion-select>
      </ion-item>
      <validation-error
        *ngIf="displayValidationErrorsByName('AvalancheRisk')"
        [errors]="newReportForm.get('AvalancheRisk').errors"></validation-error>
        
      <ion-item>
        <ion-label stacked>{{ 'FORM.TRIP-RATE' | translate }}</ion-label>
        <ion-select formControlName="TripRate" cancelText="{{ 'FORM.CANCEL' | translate }}"
          okText="{{ 'FORM.OK' | translate }}">
          <ion-option value="{{str}}" *ngFor="let str of vocabulary.trip_rates">{{str}}</ion-option>
        </ion-select>
      </ion-item>
      <validation-error
        *ngIf="displayValidationErrorsByName('TripRate')"
        [errors]="newReportForm.get('TripRate').errors"></validation-error>
        
      <ion-item>
        <ion-label stacked>{{ 'FORM.TRIP-DESCRIPTION' | translate }}</ion-label>
        <ion-textarea formControlName="TripDescription" autosize></ion-textarea>
      </ion-item>
      <validation-error
        *ngIf="displayValidationErrorsByName('TripDescription')"
        [errors]="newReportForm.get('TripDescription').errors"></validation-error>
        
      <ion-item>
        <ion-label stacked>{{ 'FORM.LINKED-TRIP' | translate }}</ion-label>
        <ion-input type="text" formControlName="LinkedTrip"></ion-input>
      </ion-item>
      <validation-error
        *ngIf="displayValidationErrorsByName('LinkedTrip')"
        [errors]="newReportForm.get('LinkedTrip').errors"></validation-error>
        
      <ion-row>
        <ion-col col-12>
          <ion-label stacked>{{ 'FORM.IMAGES' | translate }}</ion-label>
        </ion-col>

        <ion-col col-2>
          <ion-icon name="add-circle" (click)="callClickEventOnInputTypeFile()" id="add-image-icon"></ion-icon>
          <input #inputTypeFile style="display: none" accept="image/*" type="file" value=""
            (change)="processFile($event)">
        </ion-col>

        <ion-col col-10>
          <ion-slides slidesPerView="3" spaceBetween="1" initialSlide="{{slide_index}}">
            <ion-slide *ngFor="let f of files; let i = index" class="thumb" (click)="deleteSlide(i)"
              [ngStyle]="{'background-image':'url('+f+')'}"></ion-slide>
          </ion-slides>
        </ion-col>

      </ion-row>
      <validation-error
        *ngIf="displayValidationErrorsByName('TripName')"
        [errors]="newReportForm.get('TripName').errors"></validation-error>
        

      <ion-item>
        <ion-label stacked>{{ 'FORM.USER' | translate }}</ion-label>
        <ion-input type="text" formControlName="User"></ion-input>
      </ion-item>
      <validation-error
      *ngIf="displayValidationErrorsByName('User')"
      [errors]="newReportForm.get('User').errors"></validation-error>
      
    </form>

    </ion-list>
  </ion-content>

  <ion-footer no-shadow no-border>
    <ion-toolbar position="bottom">
      <ion-row>
        <button ion-button full form="newReportFormId" type="submit" [disabled]="newReportForm.invalid">{{ 'ADD.SUBMIT' | translate }}</button>
      </ion-row>
    </ion-toolbar>
  </ion-footer>