<!--
  Generated template for the ResearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'ADD.TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>
<div [ngClass]="{'loader' : show_loader}">Loading</div>


<ion-content>
  <ion-list *ngIf="vocabulary">

    <ion-item>
      <ion-label stacked>{{ 'FORM.TRIP-NAME' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="trip_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'FORM.REGION' | translate }}</ion-label>
      <ion-select [(ngModel)]="region" cancelText="{{ 'FORM.CANCEL' | translate }}" okText="{{ 'FORM.OK' | translate }}">
        <ion-option value="{{str}}" *ngFor="let str of vocabulary.regions">{{str}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'FORM.STARTING-FROM' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="starting_from"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'FORM.STARTING-VALLEY' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="starting_valley"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'FORM.DATE' | translate }}</ion-label>
      <ion-datetime displayFormat="D MMM YYYY" [(ngModel)]="date" (ionCancel)="cleanField($event)"></ion-datetime>
    </ion-item>

    <ion-list-header>
      <ion-label stacked>{{ 'FORM.ELEVATION-GAIN' | translate }}</ion-label>
      <ion-badge item-end class="badge-class">{{elevation_gain}}</ion-badge>
    </ion-list-header>
    <ion-item>
      <ion-range min="{{vocabulary.height.min}}" max="{{vocabulary.height.max}}" step="100" snaps="false" pin="true" [(ngModel)]="elevation_gain"
        color="">
      </ion-range>
    </ion-item>

    <ion-list-header>
      <ion-label stacked>{{ 'FORM.STARTING-FROM-ALTITUDE' | translate }}</ion-label>
      <ion-badge item-end class="badge-class">{{starting_from_altitude}}</ion-badge>
    </ion-list-header>
    <ion-item>
      <ion-range min="{{vocabulary.height.min}}" max="{{vocabulary.height.max}}" step="100" snaps="false" pin="true" [(ngModel)]="starting_from_altitude"
        color="">
      </ion-range>
    </ion-item>

    <ion-list-header>
      <ion-label stacked>{{ 'FORM.END-ALTITUDE' | translate }}</ion-label>
      <ion-badge item-end class="badge-class">{{end_altitude}}</ion-badge>
    </ion-list-header>
    <ion-item>
      <ion-range min="{{vocabulary.height.min}}" max="{{vocabulary.height.max}}" step="100" snaps="false" pin="true" [(ngModel)]="end_altitude"
        color="">
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'FORM.GRADE' | translate }}</ion-label>
      <ion-select [(ngModel)]="difficulty" cancelText="{{ 'FORM.CANCEL' | translate }}" okText="{{ 'FORM.OK' | translate }}">
        <ion-option value="{{str}}" *ngFor="let str of vocabulary.grades">{{str}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-row>
      <ion-col col-12>
        <ion-label stacked>{{ 'FORM.SIDE' | translate }}</ion-label>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>{{ 'FORM.UPHILL' | translate }}</ion-label>
          <ion-select [(ngModel)]="uphill_side" cancelText="{{ 'FORM.CANCEL' | translate }}" okText="{{ 'FORM.OK' | translate }}">
            <ion-option value="{{str}}" *ngFor="let str of vocabulary.sides">{{str}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked>{{ 'FORM.DOWNHILL' | translate }}</ion-label>
          <ion-select [(ngModel)]="downhill_side" cancelText="{{ 'FORM.CANCEL' | translate }}" okText="{{ 'FORM.OK' | translate }}">
            <ion-option value="{{str}}" *ngFor="let str of vocabulary.sides">{{str}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label stacked>{{ 'FORM.MAIN-SNOW-TYPE' | translate }}</ion-label>
      <ion-select [(ngModel)]="main_snow_type" cancelText="{{ 'FORM.CANCEL' | translate }}" okText="{{ 'FORM.OK' | translate }}">
        <ion-option value="{{str}}" *ngFor="let str of vocabulary.snow_types">{{str}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'FORM.OTHER-SNOW-TYPE' | translate }}</ion-label>
      <ion-select [(ngModel)]="other_snow_type" cancelText="{{ 'FORM.CANCEL' | translate }}" okText="{{ 'FORM.OK' | translate }}">
        <ion-option value="{{str}}" *ngFor="let str of vocabulary.snow_types">{{str}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'FORM.SNOW-RATE' | translate }}</ion-label>
      <ion-select [(ngModel)]="snow_rate" cancelText="{{ 'FORM.CANCEL' | translate }}" okText="{{ 'FORM.OK' | translate }}">
        <ion-option value="{{str}}" *ngFor="let str of vocabulary.snow_rates">{{str}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'FORM.SNOW-DESCRIPTION' | translate }}</ion-label>
      <ion-textarea [(ngModel)]="snow_description" autosize></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'FORM.AVALANCHE-RISK' | translate }}</ion-label>
      <ion-select [(ngModel)]="avalanche_risk" cancelText="{{ 'FORM.CANCEL' | translate }}" okText="{{ 'FORM.OK' | translate }}">
        <ion-option value="{{str}}" *ngFor="let str of vocabulary.avalanche_risk">{{str}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'FORM.TRIP-RATE' | translate }}</ion-label>
      <ion-select [(ngModel)]="trip_rate" cancelText="{{ 'FORM.CANCEL' | translate }}" okText="{{ 'FORM.OK' | translate }}">
        <ion-option value="{{str}}" *ngFor="let str of vocabulary.trip_rates">{{str}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'FORM.TRIP-DESCRIPTION' | translate }}</ion-label>
      <ion-textarea [(ngModel)]="trip_description" autosize></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>{{ 'FORM.LINKED-TRIP' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="linked_trip"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col col-12>
        <ion-label stacked>{{ 'FORM.IMAGES' | translate }}</ion-label>
      </ion-col>

      <ion-col col-2 >
        <ion-icon name="add-circle" (click)="getImage()" id="add-image-icon"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <ion-slides slidesPerView="3" spaceBetween="1" initialSlide="{{slide_index}}">
          <ion-slide *ngFor="let f of files; let i = index" class="thumb" (click)="deleteSlide(i)" [ngStyle]="{'background-image':'url('+f+')'}"></ion-slide>
        </ion-slides>
      </ion-col>

    </ion-row>


    <ion-item>
      <ion-label stacked>{{ 'FORM.USER' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="user"></ion-input>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer no-shadow no-border>
  <ion-toolbar position="bottom">
    <ion-row>
      <button ion-button full (click)="submit()">{{ 'ADD.SUBMIT' | translate }}</button>
    </ion-row>
  </ion-toolbar>
</ion-footer>