<!--
  Generated template for the ReportDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      {{report.TripName}}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list *ngIf="report">
    <div *ngFor="let key of fieldsToShow">
      <ion-item text-wrap *ngIf="report[key]">
        <p>{{key}}</p>
        <h2>{{report[key]}}</h2>
      </ion-item>
    </div>

    <div *ngIf="report.Images">
        <ion-grid>
          <ion-row>
            <ion-col col-6 col-md-4 col-xl-3 *ngFor="let image of report.Images; let idx = index">
              <img class="image-container" (click)="gotoSlide(idx)" [src]="image" /><!--imageViewer/>-->
            </ion-col>
          </ion-row>
        </ion-grid>
    </div>
  </ion-list>

</ion-content>